.c_prev{
	left: 74%;
	bottom: 5%;
}
.c_next{
	right: 2%;
	bottom: 5%;
}
.c_prev, .c_next{
	top: 83%;
}
.carousel-indicators{
	right: 55%;
	bottom: 69%;
	margin-left: 5%;
	display: grid;
	justify-content: start;
}
.carousel-indicators [data-bs-target] {
    width: 15px;
    height: 15px;
    padding: 0;
    border-top: 0;
    border-bottom: 0;
    border-radius: 50%;
    margin-top: 52%;
}

